<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div>
                <label class="label-form"> Nombre:<span class="obligatorio">
                        *</span></label>
                <input type="text" ng-model="encuesta.nombre" class="form-control">
            </div>
        </div>
        <div class="col-12">
            <div>
                <label class="label-form"> Descripción:<span class="obligatorio"> *</span>
                </label>
                <textarea class="form-control" ng-model="encuesta.descripcion"
                    style="resize: none;overflow-y: scroll; height: auto;"></textarea>
            </div>
        </div>
        <div class="col-12">
            <div>
                <label class="label-form"> Periodo de estadía:<span class="obligatorio">
                        *</span></label>
                <select ng-options="item as item.label for item in items track by item.id"
                    ng-model="selected" class="form-control">
                    <option value="">Selecciona una opcion...</option>
                </select>
            </div>
        </div>
    </div>

</div>
<div class="row">
    <div class="col-12 col-md-6">
        <label class="label-form"> Secciones:<span class="obligatorio"> *</span></label>
        <div class="table table-responsive">
            <table   class="table table-striped table-bordered table-condensed table-hover"
                st-table="alumnosTabla" st-safe-src="listaEncuestas">
                <thead class="table-head-2">
                    <tr>
                        <th rowspan="2" style="vertical-align: middle;" class="text-center">
                            #</th>
                        <th class="text-center" st-sort="matricula">Nombre</th>
                        <th rowspan="2"
                            style="vertical-align: middle; padding-left: 15px; padding-right: 15px;"
                            class="text-center">Asignar</th>
                    </tr>
                    <tr>

                        <th><input ng-model="buscarNombre" placeholder="Buscar..."
                                class="input-sm form-control" type="search"
                                id="busquedaMatricula" /></th>
                    </tr>
                </thead>
                <tbody id="sortable">
                    <tr ng-repeat="seccion in secciones  | filter: buscarNombre " >
                        <td ng-bind="$index + 1" ng-class="  seccion.estado == 0 ? 'disable-seccion text-center' : 'text-center' ">
  
                        </td>
                        <td class="text-start" ng-class="  seccion.estado == 0 ? 'disable-seccion text-start' : 'text-start' ">
                            {{seccion.nombre}}
                        </td>
                        <td class="text-center" ng-if="seccion.estado == 0">
                            
                            <button class="btn" style="background-color: #b2b9ba" disabled> > </button>
                        </td>
                        <td class="text-center" ng-if="seccion.estado == 1">
                            
                            <button class="btn btn-success" > > </button>
                        </td>
                    </tr>
                   
                </tbody>
            </table>


            
        </div>
    </div>
    <div class="col-12 col-md-6">
        <label class="label-form"> Secciones asignadas:<span class="obligatorio">
                *</span></label>
        <div class="table table-responsive">
            <table class="table table-striped table-bordered table-condensed table-hover"
                st-table="alumnosTabla" st-safe-src="listaEncuestas">
                <thead class="table-head-2">
                    <tr>
                        <th rowspan="2"
                            style="vertical-align: middle; padding-left: 15px; padding-right: 15px;"
                            class="text-center">Remover</th>
                        <th rowspan="2" style="vertical-align: middle;" class="text-center">
                            #</th>
                        <th class="text-center" st-sort="matricula">Nombre</th>
                    </tr>
                    <tr>

                        <th><input st-search="matriculaAlumno" placeholder="Buscar..."
                                class="input-sm form-control" type="search"
                                id="busquedaMatricula" /></th>
                    </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
        </div>
    </div>
</div>

