.panel-header{
    background-color:  #345177 !important;
    border-color:  #345177 !important;
    color: #fff;
    
}

.panel-title{
    color: #fff;
    font-size: 25;
}


.table-head{
    background-color:  #345177 !important;
    color: #fff;
}

.label-form{
    font-size: 17px;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 20px;
}
.sublabel-form{
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 5px;
    margin-top: 5px;
}
.obligatorio{
    color: red;
    font-size: 20px;
}

.table-head-2{
    background-color: #4C535D;
    color: #fff;
}

.disable-seccion{
    color: #b2b9ba;
}

.table-td{
    border-radius: 3px;
    box-shadow: 0px 0px 9px 0px rgb(0 0 0 / 10%);
}

.btn-utez-success {
    color: #fff;
    background-color: #009675;
    border-color: #009675;
  }

.btn-utez-danger {
    color: #fff;
    background-color: #d9534f;
    border-color: #d9534f;
}

.btn-utez-warning {
    color: #fff;
    background-color: #eea955;
    border-color: #eea955;
}

.btn-utez-info {
    color: #fff;
    background-color: #345177;
    border-color: #345177;
}

.btn-utez-secondary {
    color: #fff;
    background-color: #b2b9ba;
    border-color: #b2b9ba;
}