.panel-header {
    background-color: #345177 !important;
    border-color: #345177 !important;
    color: #fff;

}

.panel-title {
    color: #fff;
    font-size: 25;
}


.table-head {
    background-color: #345177 !important;
    color: #fff;
}

.label-form {
    font-size: 17px;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 20px;
}

.sublabel-form {
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 5px;
    margin-top: 5px;
}

.obligatorio {
    color: red;
    font-size: 20px;
}

.table-head-2 {
    background-color: #4C535D;
    color: #fff;
}

.disable-seccion {
    color: #b2b9ba;
}

.table-td {
    border-radius: 3px;
    box-shadow: 0px 0px 9px 0px rgb(0 0 0 / 10%);
}

.btn-utez-success {
    color: #fff;
    background-color: #009675;
    border-color: #009675;
}

.btn-utez-success:hover {
    color: #009675;
    background-color: #fff;
    border-color: #009675;
}

.btn-utez-danger {
    color: #fff;
    background-color: #d9534f;
    border-color: #d9534f;
}

.btn-utez-danger:hover {
    color: #d9534f;
    background-color: #fff;
    border-color: #d9534f;
}

.btn-utez-warning {
    color: #fff;
    background-color: #eea955;
    border-color: #eea955;
}

.btn-utez-warning:hover {
    color: #eea955;
    background-color: #fff;
    border-color: #eea955;
}

.btn-utez-info {
    color: #fff;
    background-color: #345177;
    border-color: #345177;
}

.btn-utez-info:hover {
    color: #345177;
    background-color: #fff;
    border-color: #345177;
}

.btn-utez-secondary {
    color: #fff;
    background-color: #b2b9ba;
    border-color: #b2b9ba;
}

.btn-utez-secondary:hover {
    color: #b2b9ba;
    background-color: #fff;
    border-color: #b2b9ba;
}

.sortable:hover {
    cursor: pointer;
    color: #437dc9;
}

.badge-utez-success {
    color: #fff;
    background-color: #037059;
    border-color: #037059;
}

.badge-utez-danger {
    color: #fff;
    background-color: #d9534f;
    border-color: #d9534f;
}

.span-error {
    color: red;
    font-size: 14px;
    margin-top: 10px;
}

.align-items-center {
    -webkit-box-align: center !important;
    -ms-flex-align: center !important;
    align-items: center !important
}


.form-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -5px;
    margin-left: -5px
}

.form-row>.col, .form-row>[class*=col-] {
    padding-right: 5px;
    padding-left: 5px
}

/* SM */
@media (min-width:576px){
    .btn-sm-add{
        margin-top: 5px;
    }
}

/* MD */
@media (min-width:768px) {
    .btn-md-add{
        margin-top: 60px;
    }
}
/* LG */
@media (min-width:992px) {
    .btn-lg-add{
        margin-top: 60px;
    }
}
/* XL */
@media (min-width:1200px) {
    .btn-xl-add{
        margin-top: 60px;
    }
}

/*XS*/
@media (min-width:50px){
    .btn-xs-align{
        text-align: right;
    }
}
/*SM*/
@media (min-width:576px){
    .btn-sm-align{
        text-align: right;
    }
}

/* MD */
@media (min-width:768px) {
    .btn-md-align{
        text-align: right;
    }
}
/* LG */
@media (min-width:992px) {
    .btn-lg-align{
        text-align: right;
    }
}
/* XL */
@media (min-width:1200px) {
    .btn-xl-align{
        text-align: right;
    }
}