<div class="container-fluid" in-view="lineInView($index, $inview, $inviewInfo)">
    <div class="row">
        <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div ng-class="mapErroresModificacion.get('enunciado').error && 'has-error'">
                <label class="label-form"> Enunciado:<span class="obligatorio">
                        *</span></label>

                <input ng-model="preguntaModificar.enunciado" class="form-control" ng-change="changeEnunciadoModificacion()" />
                <span ng-if="mapErroresModificacion.get('enunciado').error" class="span-error"
                ng-bind="mapErroresModificacion.get('enunciado').mensaje"></span>
            </div>
        </div>

        <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div ng-class="mapErroresModificacion.get('tipoPregunta').error && 'has-error'">
                <label class="label-form"> Tipo de pregunta:<span class="obligatorio">
                        *</span></label>
                <select ng-model="preguntaModificar.tipo" class="form-control"
                    ng-change="changeTipoPreguntaModificacion( )"
                    ng-options="item as item.descripcion for item in tipoPreguntas track by item.id" required ng-required="true">
                    <option value="" disabled>SELECCIONE...</option>
                </select>
                <span ng-if="mapErroresModificacion.get('tipoPregunta').error" class="span-error"
                    ng-bind="mapErroresModificacion.get('tipoPregunta').mensaje" </span>
            </div>
        </div>
    </div>

     <div ng-if="preguntaModificar.tipo.id == 2" class="form-row align-items-center " >
        <div class="form-group col-xxl-10 col-xl-10 col-lg-10 col-md-10 col-sm-10 col-xs-12 ">
           
            <div ng-class="mapErroresOpcionesModificar.get('opcion').error && 'has-error'">
                <label class="label-form"> Opción de repuesta:<span class="obligatorio">
                    *</span></label>
                <input ng-model="opcionIngresadaModificar.descripcion" class="form-control" ng-change="changeOpcionModificar()" />
                <span ng-if="mapErroresOpcionesModificar.get('opcion').error" class="span-error"
                ng-bind="mapErroresOpcionesModificar.get('opcion').mensaje"></span>
            </div>
        </div>

        <div class="form-group col-xxl-2 col-xl-2 col-lg-2 col-md-2 col-sm-2 col-xs-12 " style=" justify-content: flex-end; align-items:flex-end!important">
            <div class="btn-xs-align btn-sm-align btn-md-align">
                    <button class="btn btn-utez-success btn-sm-add btn-md-add btn-lg-add" ng-click="anadirRespuestaModificar()" ng-disabled="isAnadirModificar">Añadir</button>
            </div>
        </div>
        <div class="col-xxl-12 col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 col-12" style="margin-top: 20px;">
            <div class="table table-responsive">
                <table class="table table-striped table-bordered table-condensed table-hover" style="border-color: #4C535D;">
                  <thead class="table-head-2">
                    <tr>
                      <td class="text-start">Opciones de respuesta</td>
                      <td class="text-start">Eliminar</td>
                      <td class="text-start">Editar</td>
                    </tr>
                  </thead>
                  <tbody>
                   
                    <tr ng-repeat="opcionRespuesta in preguntaModificar.opcionesRespuesta track by $index" >
                      <td class="text-start" ng-bind="opcionRespuesta.descripcion"></td>
                      <td class="text-center">
                        <button class="text-center btn" style="background: none;" ng-click="setEliminarOpcionModificar(opcionRespuesta)"
                        > <i class="fa fa-trash" style="font-size: 20px;"></i></button>
                      </td>
                      <td class="text-center">
                        <button class="text-center btn" style="background: none;" ng-click="setModificarOpcionModificar(opcionRespuesta)"
                        > <i class="fa fa-pencil" style="font-size: 20px;"></i></button>
                      </td>

                    </tr>
    
                  </tbody>
                  <tfoot ng-if="preguntaModificar.opcionesRespuesta.length == 0">
                      <tr>
                        <td colspan="3" class="text-center">No hay opciones</td>  
                      </tr>
                  </tfoot>
                </table>
                
             </div>
             <div ng-if="mapErroresModificacion.get('opciones').error" class="alert alert-danger" role="alert">
              <span class="text-justify">{{mapErroresModificacion.get('opciones').mensaje}}</span>
            </div>
        </div>
     </div>


    <div class="row">
        <div class="text-right  col-md-4 col-sm-5 col-md-offset-8 col-sm-offset-7" style="margin-bottom: 25px; margin-top: 25px;">

            <button class="btn btn-utez-success" ng-click="modificarPregunta()" ng-disabled="isModificar">Guardar</button>
            <button class="btn btn-utez-danger" ng-click="cancelarModificacion()" >Cancelar</button>
        </div>
    </div>
</div>