<div class="row">
    <div class="text-right  col-md-4 col-md-offset-8" style="margin-bottom: 25px; margin-top: 15px;">

        <input type="text" class=" form-control" placeholder="Buscar..." ng-model="buscador">

    </div>
    <div class="col-md-12">
        <div class="table table-responsive">
            <table class="table table-striped table-bordered table-condensed table-hover" st-table="alumnosTabla"
                st-safe-src="listaPreguntas">
                <thead class="table-head">
                    <tr>
                        <th class="text-center" style="vertical-align: middle;" class="text-center">#</th>
                        <th class="text-start" st-sort="matricula">Pregunta</th>
                        <th class="text-start" st-sort="alumno">Tipo</th>
                        <th class="text-start" st-sort="alumno">Sección</th>
                        <th class="text-start" st-sort="empresa">Acciones</th>
                    </tr>

                </thead>
                <tbody>
                    <tr ng-repeat="pregunta in listaPreguntas | filter: buscador | orderBy:'-estado' ">
                        <td ng-bind="$index + 1" class="text-center disabled" style="vertical-align: middle;"></td>
                        <td class="text-start disabled" style="vertical-align: middle;">
                            {{ pregunta.enunciado}}
                        </td>
                        <td class="text-start" style="vertical-align: middle;">
                            {{ pregunta.tipo.descripcion}}
                        </td>
                        <td class="text-center">
                            <span ng-bind="'Secciones: ' + pregunta.secciones.length" class="badge badge-utez-success"
                                style="font-size: 12px; cursor: pointer;"
                                ng-click="modalConsultaSecciones(encuesta.secciones)"></span>
                        </td>

                        <td class="text-center" style="vertical-align: middle;">
                            <button class="text-center btn btn-utez-warning" ng-click="setModificarEncuesta(encuesta)"
                                style=" margin-right: 20px;"> <i class="fa fa-pencil"></i></button>
                            <button ng-if="pregunta.estado == 1" ng-click="deshabilitarEncuesta(encuesta)"
                                class="text-center btn btn-utez-danger" style=" margin-right: 20px;"> <i
                                    class="fa fa-times"></i></button>
                            <button ng-if="pregunta.estado == 0" ng-click="habilitarEncuesta(encuesta)"
                                class="text-center btn btn-utez-success" style=" margin-right: 20px;"> <i
                                    class="fa fa-check"></i></button>
                            <button ng-click="agregarPreguntas(pregunta)"
                                class="text-center btn btn-utez-info" style=" margin-right: 20px;"> <i
                                    class="fa fa-question"></i></button>
                        </td>

                    </tr>
                </tbody>
                <tfoot ng-if="listaPreguntas.length === 0">
                    <tr class="text-center">
                        <td colspan="11">
                            <h5>No se encontraron encuestas en el sistema.</h5>
                        </td>
                    </tr>
                </tfoot>

                <tfoot ng-if="listaPreguntas.length >= 5" style="cursor:pointer;">
                    <tr>
                        <td colspan="6" class="text-center">
                            <div st-pagination="" st-page-change="rembemberCurrentPage(newPage)"
                                st-items-by-page="registroPorPagina" st-displayed-pages="10"></div>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>