<div class="container-fluid" in-view="lineInView($index, $inview, $inviewInfo)">
    <div ng-if="pregunta.idPregunta" class="row">
        <div class="col-md-12">
           <label>Enunciado de la pregunta: <span ng-bind="pregunta.idPregunta.enunciado"></span></label>
        </div>
    </div>
    <div class="row">
        <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div ng-class="mapErroresRegistro.get('enunciado').error && 'has-error'">
                <label class="label-form"> Enunciado:<span class="obligatorio">
                        *</span></label>

                <input ng-model="pregunta.enunciado" class="form-control" ng-change="changeEnunciadoRegistro()" />
                <span ng-if="mapErroresRegistro.get('enunciado').error" class="span-error"
                ng-bind="mapErroresRegistro.get('enunciado').mensaje"></span>
            </div>
        </div>

        <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div ng-class="mapErroresRegistro.get('tipoPregunta').error && 'has-error'">
                <label class="label-form"> Tipo de pregunta:<span class="obligatorio">
                        *</span></label>
                <select ng-model="pregunta.tipo" class="form-control"
                    ng-change="changeTipoPreguntaRegistro( )"
                    ng-options="item as item.descripcion for item in tipoPreguntas track by item.id" required ng-required="true">
                    <option value="" disabled>SELECCIONE...</option>
                </select>
                <span ng-if="mapErroresRegistro.get('tipoPregunta').error" class="span-error"
                    ng-bind="mapErroresRegistro.get('tipoPregunta').mensaje" </span>
            </div>
        </div>
    </div>

     <div ng-if="pregunta.tipo.id == 2" class="form-row align-items-center " >
        <div class="form-group col-xxl-10 col-xl-10 col-lg-10 col-md-10 col-sm-10 col-xs-12 ">
           
            <div ng-class="mapErroresOpciones.get('opcion').error && 'has-error'">
                <label class="label-form"> Opción de repuesta:<span class="obligatorio">
                    *</span></label>
                <input ng-model="opcionIngresada.descripcion" class="form-control" ng-change="changeOpcionRegistro()" />
                <span ng-if="mapErroresOpciones.get('opcion').error" class="span-error"
                ng-bind="mapErroresOpciones.get('opcion').mensaje"></span>
            </div>
        </div>

        <div class="form-group col-xxl-2 col-xl-2 col-lg-2 col-md-2 col-sm-2 col-xs-12 " style=" justify-content: flex-end; align-items:flex-end!important">
            <div class="btn-xs-align btn-sm-align btn-md-align">
                    <button class="btn btn-utez-success btn-sm-add btn-md-add btn-lg-add" ng-click="anadirRespuesta()" ng-disabled="isAnadir">Añadir</button>
            </div>
        </div>
        <div class="col-xxl-12 col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 col-12" style="margin-top: 20px;">
            <div class="table table-responsive">
                <table class="table table-striped table-bordered table-condensed table-hover" style="border-color: #4C535D;">
                  <thead class="table-head-2">
                    <tr>
                      <td class="text-start">Opciones de respuesta</td>
                      <td class="text-start">Eliminar</td>
                      <td class="text-start">Editar</td>
                    </tr>
                  </thead>
                  <tbody>
                   
                    <tr ng-repeat="opcionRespuesta in opcionesRespuesta track by $index" >
                      <td class="text-start" ng-bind="opcionRespuesta.descripcion"></td>
                      <td class="text-center">
                        <button class="text-center btn" style="background: none;" ng-click="setEliminarOpcion(opcionRespuesta)"
                        > <i class="fa fa-trash" style="font-size: 20px;"></i></button>
                      </td>
                      <td class="text-center">
                        <button class="text-center btn" style="background: none;" ng-click="setModificarOpcion(opcionRespuesta)"
                        > <i class="fa fa-pencil" style="font-size: 20px;"></i></button>
                      </td>

                    </tr>
    
                  </tbody>
                  <tfoot ng-if="opcionesRespuesta.length == 0">
                      <tr>
                        <td colspan="3" class="text-center">No hay opciones</td>  
                      </tr>
                  </tfoot>
                </table>
                <div ng-if="mapErroresRegistro.get('opciones').error" class="alert alert-danger" role="alert">
                  <span>{{mapErroresRegistro.get('opciones').mensaje}}</span>
                </div>
             </div>
        </div>
     </div>


    <div class="row">
        <div class="text-right  col-md-4 col-sm-5 col-md-offset-8 col-sm-offset-7" style="margin-bottom: 25px; margin-top: 25px;">

            <button class="btn btn-utez-success" ng-click="save()" ng-disabled="isRegistrar">Registrar</button>
            <button ng-if="pregunta.idPregunta" class="btn btn-utez-danger" ng-click="cancelarRegistro()" ng-disabled="isRegistrar">Cancelar</button>
        </div>
    </div>
</div>