<!DOCTYPE html>
<html ng-app="enes" lang="en" >

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/bootstrap.min.css">
    <link rel="stylesheet" href="./css/styles.css">
    <title>Inicio</title>
    
</head>
<body ng-controller="encuesta">

    <nav class="navbar navbar-default" style="background-color: #345177;">
        <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#" style="color:#fff; font-weight: 400;">Sistema Integral de Servicios Académicos | SISA</a>
          </div>
      
          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
           
            <ul class="nav navbar-nav navbar-right">
              <li><a href="#" style="color:#fff;">Salir</a></li>
            </ul>
          </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>

    <div class="container-fluid"  >
        <div class="panel panel-default ">
            <!-- Default panel contents -->
            <div class="panel-heading panel-header">
                <span class="panel-title">Gestión de Encuestas</span>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="text-right  col-md-4 col-md-offset-8" style="margin-bottom: 40px; margin-top: 15px;">
                      
                            <input type="text" class=" form-control"  placeholder="Buscar...">

                    </div>
                    <div class="col-md-12">
                        <div class="table table-responsive">
                            <table class="table table-striped table-bordered table-condensed table-hover" st-table="alumnosTabla"
                                   st-safe-src="listaAlumnos">
                                <thead>
                                <tr>
                                    <th  style="vertical-align: middle;" class="text-center">#</th>
                                    <th class="text-center" st-sort="matricula">Matrícula</th>
                                    <th class="text-center" st-sort="alumno">Alumno</th>
                                    <th class="text-center" st-sort="empresa">Empresa de Estadia</th>
                                    <th class="text-center" st-sort="asesor">Asesor</th>
                                    <th class="text-center" st-sort="estadoAlumno">Estado alumno</th>
                                    <th  style="vertical-align: middle; padding-left: 15px; padding-right: 15px;" class="text-center">Acciones</th>
                                    <th  style="vertical-align: middle; padding-left: 15px; padding-right: 15px;" class="text-center"><input style="width: 17px; height: 17px; margin-top: 7px" type="checkbox" id="checkAll" ng-model='checados' ng-click="checarTodos()" value="option1" aria-label="..."></th>
                                </tr>
                                
                                </thead>
                                <tbody>
                                <tr ng-repeat="alumno in alumnosTabla">
                                    <td ng-bind="((currentPage - 1) * registroPorPagina) + $index + 1"
                                        class="text-center"></td>
                                    <td class="text-center">
                                        {{ alumno.matriculaAlumno}}
                                    </td>
                                    <td class="text-center">
                                        {{ alumno.nombreAlumno}}
                                    </td>
                                    <td class="text-center">
                                        {{ alumno.nombreEmpresa}}
                                    </td>
                                    <td class="text-center">
                                        {{ alumno.nombreAsesor}}
                                    </td>
                                    <td class="text-center">
                                        {{ alumno.estadoAlumno}}
                                    </td>
                                    <td class="text-center">
                                        <button class="text-center btn btn-warning" ng-click="setModificarAlumno(alumno)"><i class="fa fa-pencil" ></i></button>
                                    </td>
                                    <td class="text-center" >
                                        <input ng-model="alumno.select"
                                               ng-click="seleccionarAlumno()" type="checkbox">
                
                                    </td>
                                </tr>
                                </tbody>
                                <tfoot ng-if="listaAlumnos.length === 0 && carreraSeleccionada === false">
                                <tr class="text-center">
                                    <td colspan="11">
                                        <h5>No se encontraron alumnos en el sistema.</h5>
                                    </td>
                                </tr>
                                </tfoot>
                                <tfoot ng-if="carreraSeleccionada === true">
                                <tr class="text-center">
                                    <td colspan="11">
                                        <h5>Para ver a los alumnos en estadía y generar su reporte de asignación y aceptación de estadía, seleccione los campos requeridos de la parte superior.</h5>
                                    </td>
                                </tr>
                                </tfoot>
                                <tfoot ng-if="listaAlumnos.length >= 9" style="cursor:pointer;">
                                <tr>
                                    <td colspan="6" class="text-center">
                                        <div st-pagination="" st-page-change="rembemberCurrentPage(newPage)"
                                             st-items-by-page="registroPorPagina"
                                             st-displayed-pages="10"></div>
                                    </td>
                                </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
          </div>
    
    </div>
    <script src="./js/angular.js"></script>
    <script src="./js/smart-table.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="./js/bootstrap.min.js"></script>
    <script src="./app.js"></script>
    <script src="./js/modules/encuesta/encuesta.js"></script>

</body>


</html>